<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Update CurvePoint</h2>
		</div>

		<div class="row">
			<form action="#"
				th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}"
				th:object="${curvePoint}" method="post" class="form-horizontal"
				style="width: 100%">
				<div class="form-group">
					<input type="hidden" th:field="*{id}" class="form-control">
				</div>

				<div class="row">
					<div class="form-group col-xs-6">
						<label>Curve Id</label> <input type="number" th:field="*{curveId}"
							class="form-control" id="curveIdInput"
							aria-describedby="curveIdHelp" placeholder="Curve Id"
							th:value="${curvePoint.curveId}">
						<p th:if="${#fields.hasErrors('curveId')}"
							class="label label-danger" th:errors="*{curveId}"></p>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6">
						<label>Term</label> <input type="number" step="0.01"
							th:field="*{term}" class="form-control" id="termCurvePointInput"
							aria-describedby="termCurvePointHelp" placeholder="Term"
							th:value="${curvePoint.term}">
						<p th:if="${#fields.hasErrors('term')}" class="label label-danger"
							th:errors="*{term}"></p>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6">
						<label>Value</label> <input type="number" step="0.01"
							th:field="*{value}" class="form-control"
							id="valueCurvePointInput" aria-describedby="valueCurvePointHelp"
							th:value="${curvePoint.value}">
					</div>
				</div>

				<div class="row">
					<a class="btn btn-danger" href="/curvePoint/list" role="button">Cancel</a>
					<button type="submit" class="btn btn-primary">Update
						curvePoint</button>
				</div>

			</form>
		</div>

	</div>
</body>
</html>